{% extends 'base.html' %}

{% block title %}Log in | User{% endblock %}

{% block content %}

{% if form.errors %}
<div class='errornote alert alert-danger alert-dismissible'>Your username and password didn't match. Please try again.
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="errornote alert alert-danger alert-dismissible">Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</div>
{% else %}
<div class="errornote alert alert-danger alert-dismissible">Please login to see this page.</div>
{% endif %}
{% endif %}

{% if user.is_authenticated %}
<div class="errornote alert alert-danger alert-dismissible">You are already logged in.</div>
{% else %}

<form method="post" action="{% url 'login' %}" class='form my-4'>{% csrf_token %}
  <div class="form-group row">
    <div class="col">
      <input type="text" class="form-control" name='username' id='id_username' placeholder="{{ form.username.label }}"
        required>
    </div>
    <div class="col">
      <input type="password" class="form-control" name='password' id='id_password'
        placeholder="{{ form.password.label }}" required>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <input type="submit" value="Login" class='btn btn-primary' />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>
</form>
{% endif %}

{% endblock %}