<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Team Contributions</title>
  </head>
  <body>
    <h1>Team Contributions</h1>
    <dl>
      <dt>Li Yun: Project Manager</dt>
      <dd><li>?</li></dd>
      <dt>Rai: Quality Assurance</dt>
      <dd>
        <li>?</li>
      </dd>
      <dt>Lucas: Developer</dt>
      <dd>
        <li>?</li>
      </dd>
      <dt>Boon Kai: Developer</dt>
      <dd>
        <li>?</li>
      </dd>
      <dt>Hui Lin: Developer</dt>
      <dd><li>User login</li></dd>
      <dd><li>Todo Page</li></dd>
    </dl>
  </body>
</html>
