{% extends 'base.html' %}

{% block title %}Team Contributions{% endblock %}

{% block content %}
<h4>Team Contributions</h4>
<dl>
  <dt>Li Yun: Project Manager</dt>
  <dd>
    <li class='ml-4'>?</li>
  </dd>
  <dt>Rai: Quality Assurance</dt>
  <dd>
    <li class='ml-4'>?</li>
  </dd>
  <dt>Lucas: Developer</dt>
  <dd>
    <li class='ml-4'>?</li>
  </dd>
  <dt>Boon Kai: Developer</dt>
  <dd>
    <li class='ml-4'>?</li>
  </dd>
  <dt>Hui Lin: Developer</dt>
  <dd>
    <li class='ml-4'>User login</li>
  </dd>
  <dd>
    <li class='ml-4'>Todo Page</li>
  </dd>
</dl>
{% endblock %}